<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <footer class="app-footer" th:fragment="footer">
            <strong>
                <p>&copy;Copyright <span id="currentYear"></span> PT. Tektino Inovasi Indonesia.</p>
            </strong>
        </footer>

        <script th:fragment="script">
            console.log("JavaScript footer dijalankan");
            document.getElementById("currentYear").textContent = new Date().getFullYear();
        </script>
    </body>
</html>
