<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark" th:fragment="sidebar">
            <div class="sidebar-brand">
                <a href="/dashboard" class="brand-link">
                    <img src="/img/logo.png" alt="AdminLTE Logo" class="brand-image opacity-75 shadow" />
                </a>
            </div>
            <div class="sidebar-wrapper">
                <nav class="mt-2">
                    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/dashboard" class="nav-link" th:classappend="${#httpServletRequest.requestURI == '/dashboard'} ? 'active'">
                                <i class="fa-regular fa-landmark-dome mt-1"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li
                            class="nav-item"
                            th:classappend="
                                ${
                                    #httpServletRequest.requestURI == '/user' or 
                                    #httpServletRequest.requestURI == '/user/tambah' or 
                                    #httpServletRequest.requestURI == '/role'
                                } ? 'menu-open'"
                        >
                            <a
                                href="#"
                                class="nav-link"
                                th:classappend="
                                ${
                                    #httpServletRequest.requestURI == '/user' or 
                                    #httpServletRequest.requestURI == '/user/tambah' or 
                                    #httpServletRequest.requestURI == '/role'
                                } ? 'active'"
                            >
                                <i class="fa-regular fa-hard-drive mt-1"></i>
                                <p>Master</p>
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </a>
                            <ul class="nav nav-treeview ms-4">
                                <li class="nav-item">
                                    <a
                                        href="/user"
                                        class="nav-link"
                                        th:classappend="
                                    ${
                                        #httpServletRequest.requestURI == '/user' or 
                                        #httpServletRequest.requestURI == '/user/tambah'
                                    } ? 'active'"
                                    >
                                        <i class="fa-light fa-users mt-1"></i>
                                        <p>Karyawan</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        href="/role"
                                        class="nav-link"
                                        th:classappend="
                                    ${
                                        #httpServletRequest.requestURI == '/role'
                                    } ? 'active'"
                                    >
                                        <i class="fa-light fa-users-gear mt-1"></i>
                                        <p>Role</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li
                            class="nav-item"
                            th:classappend="
                                ${
                                    #httpServletRequest.requestURI == '/selang' or 
                                    #httpServletRequest.requestURI == '/selang/tambah' or 
                                    #httpServletRequest.requestURI == '/kompresor'
                                } ? 'menu-open'"
                        >
                            <a
                                href="#"
                                class="nav-link"
                                th:classappend="
                                ${
                                    #httpServletRequest.requestURI == '/selang' or 
                                    #httpServletRequest.requestURI == '/selang/tambah' or 
                                    #httpServletRequest.requestURI == '/kompresor'
                                } ? 'active'"
                            >
                                <i class="fa-light fa-box-open mt-1"></i>
                                <p>Product</p>
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </a>
                            <ul class="nav nav-treeview ms-4">
                                <li class="nav-item">
                                    <a
                                        href="/selang"
                                        class="nav-link"
                                        th:classappend="
                                    ${
                                        #httpServletRequest.requestURI == '/selang' or 
                                        #httpServletRequest.requestURI == '/selang/tambah'
                                    } ? 'active'"
                                    >
                                        <i class="fa-light fa-hose mt-1"></i>
                                        <p>Selang</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        href="/kompresor"
                                        class="nav-link"
                                        th:classappend="
                                    ${
                                        #httpServletRequest.requestURI == '/kompresor'
                                    } ? 'active'"
                                    >
                                        <i class="fa-light fa-engine mt-1"></i>
                                        <p>kompresor</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        href="/kompresor"
                                        class="nav-link"
                                        th:classappend="
                                    ${
                                        #httpServletRequest.requestURI == '/kompresor'
                                    } ? 'active'"
                                    >
                                        <i class="fa-light fa-air-conditioner mt-1"></i>
                                        <p>Double Blower</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </body>
</html>
