<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
    <body>
        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark" th:fragment="sidebar">
            <div class="sidebar-brand">
                <a href="/dashboard" class="brand-link">
                    <img src="/img/logo.png" alt="AdminLTE Logo" class="brand-image opacity-75 shadow" />
                </a>
            </div>
            <div class="sidebar-wrapper">
                <nav class="mt-2">
                    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-speedometer"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </body>
</html>
