<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head"> </head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <!-- =============================== Navbar ================================ -->
            <div th:replace="fragments/header :: header"></div>

            <!-- ============================ START SIDEBAR ============================ -->
            <div th:replace="fragments/sidebar  :: sidebar"></div>

            <!-- =============================== CONTENT =============================== -->
            <main class="app-main mt-3">
                <div class="container-fluid mb-5">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Dashboard</h3>
                        </div>
                        <div class="app-content mt-4">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-3 col-6">
                                        <div class="small-box text-bg-primary">
                                            <div class="inner">
                                                <h3>150</h3>
                                                <p>All Product</p>
                                            </div>
                                            <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"></path>
                                            </svg>
                                            <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"> More info <i class="bi bi-link-45deg"></i> </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-6">
                                        <div class="small-box text-bg-secondary">
                                            <div class="inner">
                                                <h3>150</h3>
                                                <p>All Product</p>
                                            </div>
                                            <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"></path>
                                            </svg>
                                            <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"> More info <i class="bi bi-link-45deg"></i> </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-6">
                                        <div class="small-box text-bg-warning">
                                            <div class="inner">
                                                <h3>150</h3>
                                                <p>All Product</p>
                                            </div>
                                            <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"></path>
                                            </svg>
                                            <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"> More info <i class="bi bi-link-45deg"></i> </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-6">
                                        <div class="small-box text-bg-success">
                                            <div class="inner">
                                                <h3>150</h3>
                                                <p>All Product</p>
                                            </div>
                                            <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"></path>
                                            </svg>
                                            <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"> More info <i class="bi bi-link-45deg"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body mt-3 mb-3" style="text-align: center">
                            <h2 class="">
                                Selamat Datang di Tektino-Panel,&nbsp;
                                <span th:text="${name}" class="fw-bold text-uppercase"></span>
                            </h2>

                            <div class="d-flex justify-content-center">
                                <h5>Role Anda Adalah :&nbsp;</h5>
                                <h5 th:if="${not #lists.isEmpty(roles)}" class="fw-bold text-uppercase ps-1">
                                    <span th:each="role, iterStat : ${roles}">
                                        <span
                                            th:text="${role == 'ROLE_SUPER_ADMIN' ? 'Super Admin' :
                                                        role == 'ROLE_ADMIN' ? 'Admin' :
                                                        role == 'ROLE_USER' ? 'User' : role}"
                                        ></span>
                                        <span th:if="${!iterStat.last}">, </span>
                                    </span>
                                </h5>

                                <h5 th:unless="${not #lists.isEmpty(roles)}">Peran belum ditentukan.</h5>
                            </div>
                            <!-- <div class="mt-3 mb-3">
                                <button type="button" class="btn btn-success justify-content-center">Check-in</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </main>

            <!-- =============================== Footer ================================ -->
            <div th:replace="fragments/footer  :: footer"></div>
        </div>
        <div th:replace="fragments/footer  :: script"></div>
    </body>
</html>
