<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head"> </head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary" th:data-success="${success}">
        <div class="app-wrapper">
            <!-- =============================== Navbar ================================ -->
            <div th:replace="fragments/header :: header"></div>

            <!-- ============================ START SIDEBAR ============================ -->
            <div th:replace="fragments/sidebar  :: sidebar"></div>

            <!-- =============================== CONTENT =============================== -->
            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6"><h3 class="mb-0">Halaman Karyawan</h3></div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-end"></ol>
                            </div>
                        </div>
                        <!-- <div th:if="${success}" class="alert alert-success" role="alert">
                            <span th:text="${success}"></span>
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div> -->
                    </div>
                </div>
                <div class="app-content">
                    <div class="container-fluid">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h3 class="card-title">Table Karyawan</h3>
                                <a href="/user/tambah" class="btn btn-sm btn-primary float-end">
                                    Tambah Karyawan
                                    <i class="fa-light fa-user-plus ms-2 mt-1"></i>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="userTable" class="table table-bordered display">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">No.</th>
                                                <th style="width: 200px">Username</th>
                                                <th>Name</th>
                                                <th style="width: 150px">Role</th>
                                                <th style="width: 150px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="align-middle" th:each="user, iterStat : ${users}">
                                                <td><span th:text="${iterStat.index + 1}"></span></td>
                                                <td th:text="${user.username}"></td>
                                                <td th:text="${user.name}"></td>
                                                <td>
                                                    <span
                                                        class="badge opacity-5"
                                                        th:classappend="${user.roleName == 'ROLE_SUPER_ADMIN' ? 'text-bg-primary' : 
                                                                        (user.roleName == 'ROLE_ADMIN' ? 'text-bg-warning' : 
                                                                        (user.roleName == 'ROLE_USER' ? 'text-bg-info' : 'text-bg-secondary'))}"
                                                        th:text="${user.roleName == 'ROLE_SUPER_ADMIN' ? 'Super Admin' : 
                                                                (user.roleName == 'ROLE_ADMIN' ? 'Admin' : 
                                                                (user.roleName == 'ROLE_USER' ? 'User' : 'Unknown'))}"
                                                    >
                                                    </span>
                                                </td>
                                                <td class="d-flex justify-content-end">
                                                    <a th:href="@{/user/detail/{id}(id=${user.id})}" class="me-1" data-bs-toggle="tooltip" data-bs-title="Detail User" data-bs-placement="top">
                                                        <i class="fa-regular fa-file-circle-info text-primary fs-5"></i>
                                                    </a>
                                                    <a href="@{/user/edit/{id}(id=${user.id})}" th:if="${user.username != 'superadmin' and user.role != 'Super Admin'}" class="me-1" data-bs-toggle="tooltip" data-bs-title="Edit User" data-bs-placement="top">
                                                        <i class="fa-regular fa-file-pen text-primary fs-5"></i>
                                                    </a>
                                                    <a href="javascript:void(0);" th:if="${user.username != 'superadmin' and user.role != 'Super Admin' and user.username != userLogin}" th:attr="onclick='confirmDelete(' + ${user.id} + ')'" class="me-1" data-bs-toggle="tooltip" data-bs-title="Delete User" data-bs-placement="top">
                                                        <i class="fa-regular fa-file-circle-xmark text-danger fs-5"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <!-- =============================== Footer ================================ -->
            <div th:replace="fragments/footer  :: footer"></div>
        </div>
        <th:block th:replace="fragments/footer :: script"></th:block>
        <script>
            $(document).ready(function () {
                $("#userTable").DataTable({
                    autoWidth: false,
                    ordering: false,
                });

                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl);
                });
            });
            var successMessage = $("body").data("success"); // Ambil data sukses

            if (successMessage) {
                iziToast.success({
                    title: "OK",
                    message: successMessage,
                    position: "topCenter",
                    transitionIn: "bounceInDown",
                    transitionOut: "fadeOutUp",
                });
                $("body").removeAttr("data-success");
            }

            function confirmDelete(userId) {
                iziToast.question({
                    timeout: false,
                    close: false,
                    color: "#e74c4c",
                    icon: "fa-solid fa-hexagon-exclamation",
                    overlay: true,
                    displayMode: "once",
                    id: "question",
                    zindex: 999,
                    title: "Warning !",
                    message: "Apakah Anda yakin ingin <b>menghapus</b> user ini?",
                    position: "center",
                    buttons: [
                        [
                            "<button><b>YES</b></button>",
                            function (instance, toast) {
                                instance.hide({ transitionOut: "fadeOut" }, toast, "button");
                                console.log("userId:", userId);
                                window.location.href = "user/delete/" + userId; // Redirect ke URL delete
                            },
                            true,
                        ],
                        [
                            "<button>NO</button>",
                            function (instance, toast) {
                                instance.hide({ transitionOut: "fadeOut" }, toast, "button");
                            },
                        ],
                    ],
                });
            }
        </script>
    </body>
</html>
